{
  "plugins": [
    "react-native-globals"
  ],
  "env": {
    "node": true, // this is the best starting point
    "es6": true,
    "react-native-globals/all": true
  },
  "parser": "babel-eslint", // needed to make babel stuff work properly
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types":[0]
  },
  "extends": "airbnb"
}